---
layout: default
title: Blog
---

{% for post in paginator.posts %}

<ul>
    {% if post.external-url %}
        <li>
            <h2>
                <span class="post-date">{{ post.date | date: "%Y-%m-%d" }} //</span> {{ post.title }}
                <a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
            </h2>
            {{ post.excerpt }}
            <a href="{{ post.external-url }}">Lire la suite</a>
        </li>
    {% else %}
        <li>
            <h2>
                <span class="post-date">{{ post.date | date: "%Y-%m-%d" }} //</span> {{ post.title }}
            </h2>
            {{ post.excerpt }}
            <a href="{{ post.url }}">Lire la suite</a>
        </li>
    {% endif %}
</ul>

{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="postnavigation">
    <div class="paginator" id="paginatorId"></div>
        <script type="text/javascript">
            $(document).bind('ready', function () {
                $("#paginatorId").paginator({
                    pagesTotal: {{ paginator.total_pages }},
                    pagesSpan: 10,
                    pageCurrent: '{{paginator.page}}',
                    baseUrl: '/blog/page/%number%/',
                    firstPage: '/blog/'
                });
            });
        </script>
</div>
{% endif %}
