---
layout: default
title: Blog
---


{% for post in paginator.posts %}


    {% if post.content contains site.excerpt_separator %}
        <h2 class="bullet">
           <span>{{ post.date | date: "%Y-%m-%d" }} //</span> {{ post.title }}
        </h2>
        <div class="excerpt">
            {{ post.excerpt }}
            <a class="see-more" href="{{ post.url }}">Lire l'article &gt;&gt;</a>
        </div>
        <hr/>
    {% else %}
        <h2 class="bullet">
           <span>{{ post.date | date: "%Y-%m-%d" }} //</span> <a href="{{post.url}}">{{ post.title }}</a>
        </h2>
        <div class="excerpt">
            {{ post.excerpt }}
        </div>
        <hr/>
    {% endif %}


{% endfor %}



{% if paginator.total_pages > 1 %}
<div class="postnavigation">
    <div class="paginator" id="paginatorId"></div>
        <script type="text/javascript">
            $(document).bind('ready', function () {
                $("#paginatorId").paginator({
                    pagesTotal: {{ paginator.total_pages }},
                    pagesSpan: 10,
                    pageCurrent: '{{paginator.page}}',
                    baseUrl: '/blog/page/%number%/',
                    firstPage: '/blog/'
                });
            });
        </script>
</div>
{% endif %}
