---
layout: default
title: Blog
---

{% for post in paginator.posts %}

<ul>
    {% if post.external-url %}
        <li>
            <h2>
                {{ post.date | date: "%Y-%m-%d" }} // <a href="{{ post.external-url }}">{{ post.title }}</a>
                <a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
            </h2>
            {{ post.excerpt }}
        </li>
    {% else %}
        <li>
            <h2>
                {{ post.date | date: "%Y-%m-%d" }} // <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
        </li>
    {% endif %}
</ul>

{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="postnavigation">
    <div class="paginator" id="paginatorId"></div>
        <script type="text/javascript">
            $(document).bind('ready', function () {
                $("#paginatorId").paginator({
                    pagesTotal: {{ paginator.total_pages }},
                    pagesSpan: 10,
                    pageCurrent: '{{paginator.page}}',
                    baseUrl: '/blog/page/%number%/'
                });
            });
        </script>
</div>
{% endif %}
